html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: #FFF;
    color: #555;
}

p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
    text-align: justify;
}

img {
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(185, 212, 15);
    letter-spacing: 0em;
    padding: 0 0 5px 0;
}

h1,
h2,
h3 {
    font: normal 170% 'century gothic', arial;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}

h2 {
    font-size: 160%;
    padding: 9px 0 5px 0;
}

h3 {
    font-size: 140%;
    padding: 5px 0 0 0;
}

h4,
h6 {
    color: #009FBC;
    padding: 0 0 5px 0;
    font: normal 110% arial;
    text-transform: uppercase;
}

h5,
h6 {
    color: #888;
    font: normal 95% arial;
    letter-spacing: normal;
    padding: 0 0 15px 0;
}

a,
a:hover {
    outline: none;
    text-decoration: underline;
    color: #009FBC;
}

a:hover {
    text-decoration: none;
}

blockquote {
    margin: 20px 0;
    padding: 10px 20px 0 20px;
    border: 1px solid #E5E5DB;
    background: #FFF;
}

ul {
    margin: 2px 0 22px 17px;
}

ul li {
    list-style-type: circle;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
    line-height: 1.5em;
}

ol {
    margin: 8px 0 22px 20px;
}

ol li {
    margin: 0 0 11px 0;
}

.left {
    float: left;
    width: auto;
    margin-right: 10px;
}

.right {
    float: right;
    width: auto;
    margin-left: 10px;
}

.center {
    display: block;
    text-align: center;
    margin: 20px auto;
}

#main,
#logo,
#menubar,
#menubarcorpo,
#site_content,
#footer {
    margin-left: auto;
    margin-right: auto;
}

#header {
    background: #1d1d1d url(imgs/imagem_menu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 2px solid rgb(185, 212, 15);
    height: 177px;
}

#banner {
    background: transparent url(banner.jpg) no-repeat;
    width: 870px;
    height: 180px;
    margin-bottom: 20px;
    border: 5px solid rgb(185, 212, 15);
}

#logo {
    width: 880px;
    position: relative;
    height: 140px;
    background: transparent;
}

#logo #logo_text {
    position: absolute;
    top: 10px;
    left: 0;
}

#logo h1,
#logo h2 {
    font: normal 300% 'century gothic', arial, sans-serif;
    border-bottom: 0;
    text-transform: none;
    margin: 0 0 0 9px;
}

#logo_text h1 {
    padding: 22px 0 0 0;
    color: #FFF;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-shadow: rgb(27, 27, 27) 0px 0px 2px;
}

#logo_text h1 a,
#logo_text h1 a:hover {
    padding: 22px 0 0 0;
    color: #FFF;
    letter-spacing: 0.1em;
    text-decoration: none;
}

#logo_text h1 a .logo_colour {
    color: rgb(185, 212, 15);
}

#logo_text a:hover .logo_colour {
    color: #FFF;
}

#logo_text h2 {
    font-size: 120%;
    padding: 4px 0 0 0;
    color: #FFF;
}

#menubar {
    width: 880px;
    height: 46px;
}

#menubarcorpo {
    height: 46px;
    width: 600px;
    float: left;
    border-bottom: 3px solid rgb(185, 212, 15);
}

ul#menu {
    float: right;
    margin: 0;
}

ul#menucorpo {
    float: left;
    margin: 0;
}

ul#menu li {
    float: left;
    padding: 0 0 0 9px;
    list-style: none;
    margin: 1px 2px 0 0;
    background: transparent;
}

ul#menucorpo li {
    float: left;
    padding: 0 0 0 9px;
    list-style: none;
    margin: 1px 2px 0 0;
    background: transparent;
}

ul#menu li a {
    font: normal 100% 'trebuchet ms', sans-serif;
    display: block;
    float: left;
    height: 20px;
    padding: 6px 35px 5px 28px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    background: transparent;
}

ul#menucorpo li a {
    font: normal 100% 'trebuchet ms', sans-serif;
    display: block;
    float: left;
    height: 35px;
    font-size: 14px;
    padding: 6px 35px 5px 28px;
    text-align: center;
    color: rgb(185, 212, 15);
    text-decoration: none;
    background: transparent;
}

ul#menu li.selected a {
    height: 20px;
    padding: 6px 35px 5px 28px;
}

ul#menu li.selected {
    margin: 1px 2px 0 0;
    background: rgb(185, 212, 15);
}

ul#menucorpo li.selected a {
    height: 20px;
    padding: 6px 35px 5px 28px;
}

ul#menucorpo li.selected {
    margin: 1px 2px 0 0;
    background: rgb(185, 212, 15);
}

ul#menu li.selected a,
ul#menu li.selected a:hover {
    background: rgb(185, 212, 15);
    color: #FFF;
}

ul#menucorpo li.selected a,
ul#menucorpo li.selected a:hover {
    background: rgb(185, 212, 15);
    color: #FFF;
}

ul#menu li a:hover {
    color: #FFF;
    background: rgb(185, 212, 15);
}

ul#menucorpo li a:hover {
    color: #FFF;
    background: rgb(185, 212, 15);
}

#site_content {
    width: 880px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    padding: 0 0 10px 0;
}

#sidebar_container {
    float: right;
    width: 224px;
}

.sidebar_top {
    width: 222px;
    height: 14px;
    background: transparent url(imgs/side_top.png) no-repeat;
}

.sidebar_base {
    width: 222px;
    height: 14px;
    background: url(imgs/side_base.png) no-repeat;
}

.sidebar {
    float: right;
    width: 222px;
    padding: 0;
    margin: 0 0 16px 0;
}

.sidebar_item {
    background: url(imgs/side_back.png) repeat-y;
    padding: 0 15px;
    width: 192px;
}

.sidebar li a.selected {
    color: #444;
}

.sidebar ul {
    margin: 0;
}

#content {
    text-align: left;
    width: 620px;
    padding: 0 0 0 5px;
    float: left;
}

#content ul {
    margin: 2px 0 22px 0px;
}

#content ul li,
.sidebar ul li {
    list-style-type: none;
    background: url(imgs/bullet.png) no-repeat;
    margin: 0 0 0 0;
    padding: 0 0 4px 25px;
    line-height: 1.5em;
}

#menubarcorpo ul li {
    list-style-type: none;
    background: none;
    margin: none;
    padding: none;
    line-height: none;
}

#footer {
    width: 100%;
    font-family: 'trebuchet ms', sans-serif;
    font-size: 100%;
    height: 80px;
    padding: 28px 0 5px 0;
    text-align: center;
    background: transparent url(imgs/imagem_footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top: 2px solid rgb(185, 212, 15);
    color: #FFF;
}

#footer p {
    line-height: 1.7em;
    padding: 0 0 10px 0;
    text-align: center;
}

#footer a {
    color: rgb(185, 212, 15);
    text-decoration: none;
    text-align: center;
}

#footer a:hover {
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

.search {
    color: #5D5D5D;
    border: 1px solid #BBB;
    width: 134px;
    padding: 4px;
    font: 100% arial, sans-serif;
}

.form_settings {
    margin: 15px 0 0 0;
}

.form_settings p {
    padding: 0 0 4px 0;
}

.form_settings span {
    float: left;
    width: 200px;
    text-align: left;
}

.form_settings input,
.form_settings select,
.form_settings textarea {
    padding: 5px;
    width: 299px;
    font: 100% arial;
    border: 1px solid #E5E5DB;
    background: #FFF;
    color: #47433F;
}

.form_settings .submit {
    font: 100% arial;
    border: 0;
    width: 99px;
    margin: 0 0 0 212px;
    height: 33px;
    padding: 2px 0 3px 0;
    cursor: pointer;
    background: rgb(185, 212, 15);
    color: #FFF;
}

.form_settings textarea,
.form_settings select {
    font: 100% arial;
    width: 299px;
}

.form_settings select {
    width: 310px;
}

.form_settings .checkbox {
    margin: 4px 0;
    padding: 0;
    width: 14px;
    border: 0;
    background: none;
}

.separator {
    width: 100%;
    height: 0;
    border-top: 1px solid #D9D5CF;
    border-bottom: 1px solid #FFF;
    margin: 0 0 20px 0;
}

table {
    margin: 10px 0 30px 0;
}

table tr th,
table tr td {
    background: rgb(185, 212, 15);
    color: #FFF;
    padding: 7px 4px;
    text-align: left;
}

table tr td {
    background: #E5E5DB;
    color: #47433F;
    border-top: 1px solid #FFF;
}

.box_info {
    border-width: 1px;
    border-style: solid;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    width: 960px;
    display: block;
    margin-bottom: 2px;
}

.box_info span {
    padding: 5px 5px 5px 35px;
    font-weight: bold;
    font-size: 16px;
    background: url(../img/notifications_icons_set.png) no-repeat;
}

.aviso {
    background-color: #FFF4CC;
    border-color: #F8E3AC;
    color: #E79300;
}

.info {
    background: #E4EDF5;
    border-color: #E5EBF0;
    color: #2E74B2;
}

.erro {
    background-color: #FBD3B1;
    border-color: #F7D1AE;
    color: #CE2700;
}

.sucesso {
    background-color: #E0F2CB;
    border-color: #E7F6D8;
    color: #6DA827;
}

.aviso span {
    background-position: 0 -133px;
}

.info span {
    background-position: 0 2px;
}

.erro span {
    background-position: 0 -88px;
}

.sucesso span {
    background-position: 0 -44px;
}

.box_info {
    border-width: 1px;
    border-style: solid;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    position: fixed;
    top: 0;
    width: 960px;
    display: none;
    z-index: 1000;
}

.pieContainer {
    height: 100px;
}

.pieBackground {
    background-color: green;
    position: absolute;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    -moz-box-shadow: -1px 1px 3px #000;
    -webkit-box-shadow: -1px 1px 3px #000;
    -o-box-shadow: -1px 1px 3px #000;
    box-shadow: -1px 1px 3px #000;
}